@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');

:root {
    --fonte1: Verdana,Geneva,Tahoma, sans-serif;
    --fonte2: "Fredoka", sans-serif; 
    --fonte3: "Bangers", system-ui;

    --cor1: #ef3a5d;
    --cor2: #6f402c;
    --cor3: #96993a;
    --cor4: #F2AC29;
    --cor5: #F29829;
    --cor6: #F279B2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ef3a5e21;
}

header {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--cor6);
    box-shadow: 0px 0px 10px black;
}

.barra {
    display:flex;
    margin-left: 20px;
    vertical-align: middle;
}

.barra input[type="text"] {
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    width: 150px;
    outline: none;
    background-color: transparent;
}

.barra i {
    padding: 6px 10px;
    border: none;
    border-radius:0 20px 20px 0;
    color: black;
    cursor: pointer;
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.005);
    z-index: 1;
}

.conteudo-topo {
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
    padding: 60px 20px;
}

.conteudo-topo h1 {
    font-family: var(--fonte3);
    font-size: 150px;
    color: var(--cor5);
    text-shadow: 2px 2px 4px black;
}

nav {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.137);
}

nav a {
    text-decoration: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.484);
    color:var(--cor4);
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--fonte2);
}

nav a:hover {
    border-radius:10px;
    padding: 5px;
    background-color:var(--cor3); 
    color: var(--cor2);
    font-weight: bold;
    text-shadow: none;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--cor2);
    min-width: 300px;  
    max-width: 1000px;
    background-image: linear-gradient(to bottom, var(--cor6), transparent);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;

}

.galeria {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.452);
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.item .img1 {
    opacity: 1;
    z-index: 1;
}

.item .img2 {
    opacity: 0;
    z-index: 2;
}

.item:hover .img1 {
    opacity: 0;
}

.item:hover .img2 {
    opacity: 1;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
    width: 600px;
}

footer {
    background-color:var(--cor6);
    color: #fff;
    padding: 20px;
    font-family: var(--fonte1);
    margin-top: -40px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    
}

.left h2 {
    font-family: var(--fonte3);
    margin: 0;
    font-size: 60px;
    text-shadow: 3px 0px 3px black;
}

.right a {
    color: white;
    font-size: 40px;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.right a:hover {
    transform: scale(1.2);
    color: #000; 
}

.bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}




